h1 {
  background-color:red;
  color: white;
  font-family:sans-serif;
   font: arial;
   padding-left: : 100px;
   padding-right: 100px;
   text-align: center;
   font-size: 100px;
   padding: 20PX;
 }

 .top {
   display: flex;
   align-items: center;
   justify-content: center;
 }


h2{
font-family: sans-serif;
 background-color: white;
 color: red
}
li{
  font-family: sans-serif;
  font: helvetica;
   margin-right: 200px;
 margin-top: 12px;}


    h3{background-color: red; color: white; font-family:"Arial"}
  h2{
    font-family:"Arial", monospace;
    font-size: 55px;
  }
body{flex-wrap; wrap;
